@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0093E9;
  font-family: 'Outfit', sans-serif;

}

.container {
  max-width: 80%;
  border-radius: 30px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 2em;
  color: #000;
  letter-spacing: 1px;
  font-weight: 700;
}
h2 {
  text-align: center;

}

p {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 40px;

}

p::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: -35px;
}

button {
  padding: 10px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  transition: all .4s;
}
button:hover {
  background: rgba(255, 255, 255, 0.7);
}


